.activeStyle {
    color: #3861fb;
    font-size: 22px;
    font-weight: bold;
}

.inActiveStyle {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.separator {
    background: linear-gradient(to right, transparent, #9ba3c2, transparent);
}